# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignora la cartella di configurazione di IntelliJ
.idea/
*.iml
# Ignora i file creati dal database
*.db

